
.textl1{
    position: absolute;
    top: 18px;
    padding-left: 248px;

    color: rgb(165, 104, 31);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3.7px;
    
}
.textl2{
    position: absolute;
    top: 38px;
    padding-left: 248px;

    color: rgb(165, 104, 31);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3.7px;
}
.textl3{
    position: absolute;
    top: 59px;
    padding-left: 248px;

    color: rgb(165, 104, 31);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3.7px;
}
.textl4{
    position: absolute;
    top: 80px;
    padding-left: 248px;

    color: rgb(165, 104, 31);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3.7px;
}
input {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.ooo {
    display: flex;
    flex-flow: column;

    align-items: center;
    justify-content: center;
    background-color: white;
    margin-right: 23%;
    margin-left: 23%;
    min-width: 800px;
    margin-top: 100px;

    padding-bottom: 100px;
    border-radius: 5px;
}
.don {
    display: flex;
    flex-flow: column;

    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

