.tombe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.tombe2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.tombe3 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.tombe4 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.textl1{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(45, 45, 45);
    
}
.textl2{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(45, 45, 45);
}
.textl3{
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(45, 45, 45);
}
.textl4{
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(45, 45, 45);
}

